{% extends "gymDirectory/layout.html" %}

{% load static %}

{% block title %}
	Home
{% endblock %}

{% block body %}

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <div class="row text-center">
            <div class="about-logo">
                {% if user.is_authenticated%}
                <h3>Hi {{user.get_username}}!</h3>
                <a href="{% url 'logout_user' %}">Logout</a> <br>
                {% else %}
                <h1><a href="{% url 'return' %}">Home</a></h1> <br>
                {% endif %}
            </div>
        </div>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

{% endblock %}