{% extends "gymDirectory/layout.html" %}

{% load static %}

{% block title %}
	Login
{% endblock %}

{% block body %}

        <div class="row">
            <div class="cta-text">
                <element id="img-box">
                    <img class="img-responsive" src="{% static  'gymDirectory/img/service2.jpg' %}" alt="">  
                    <h3>Login</h3>
                </element>
                <div class="input-field">
                    <form action="{% url 'login_user' %}" method="POST" novalidate>
                        {% csrf_token %}
                        {{form.as_p}}
                
                        <br>
                        <div class="flex-parent jc-center">
                            <a type="submit" class="btn btn-primary waves-effect waves-dark pull-right" href="{% url 'return' %}">Submit</a>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
{% endblock %}