{% extends "gymDirectory/layout.html" %}

{% load static %}

{% block title %}
	Register
{% endblock %}

{% block body %}

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
        <section class = "services">
            <div class = "container">
                <div class="aligncenter">
                    <div class="flex-parent jc-center">
                        <a type="submit" class="btn btn-primary waves-effect waves-dark pull-right" href="{% url 'customer_register' %}">Customer</a>
                        <a type="submit" class="btn btn-primary waves-effect waves-dark pull-right" href="{% url 'staff_register' %}">Staff</a>
                    </div>
                </div>
            </div>
        </section>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

{% endblock %}