{% extends "gymDirectory/layout.html" %}

{% load static %}

{% block title %}
	Staff Registration
{% endblock %}

{% block body %}

    <div class="row">
        <div class="cta-text">
            <div class="img-box">
                <img class="img-responsive" src="{% static  'gymDirectory/img/service3.jpg' %}" alt="">  
                <h3>Staff Registration</h3>
            </div>
            <div class="input-field">
                <form action="{% url 'staff_register' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {{form.as_p}}
            
                    <br>
                    <input type="submit" value="Register" class="btn btn-primary">
                </form>
            </div>
        </div>
    </div>

{% endblock %}