{% extends "gymDirectory/layout.html" %}

{% load static %}

{% block title %}
	Staff Registration
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-sm-3">
            <div class="card-image">
                <img class="img-responsive" src="{% static  'gymDirectory/img/service3.jpg' %}" alt="">  
                <span class="card-title">Staff Registration</span>
            </div>
            <div class="input-field">
                <form action="{% url 'staff_register' %}" method="POST" novalidate>
                    {% csrf_token %}
                    {{form.as_p}}
            
                    <br>
                    <input type="submit" value="Login" class="btn btn-block btn-primary">
                </form>
            </div>
        </div>
    </div>

	{% endblock %}